#my_table .table_item {
    border: 1px solid #ffcf3f;
    margin: 2.5px;
    background: #76ff14;
}

#my_table .table_item div {
    overflow: scroll;
}

#my_table .table_space {
    width: calc(10px * var(--font-size)) !important;
    display: block;
    height: calc(6px * var(--font-size)) !important;
}

#my_table>div {
    position: absolute;
}

#my_table .table_item div::-webkit-scrollbar {
    background: #ffcf3f;
}

body {
    font-size: calc(var(--font-size) * 1px);
}

* {
    font-size: calc(var(--font-size) * 1px) !important;
}
